 /*Configuracion inicial de la página*/
/*Resetendo el layout */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}

/*Clases reutilizables*/
.flex-center{
  display:flex;
  align-items:center;
}

.justify-center{
  justify-content:center;
}

.bg-transparent{
  background-color: transparent;
}

.text-white{
  color: white;
}

.bg-white{
  background: #fff;
}

.space-between{
display:flex;
flex-direction:column;
justify-content:space-between;
}

.stretch{
  min-width:1rem;
}

/*Estilo del index*/
.gradient{
  background: linear-gradient(#76278F, #FF00BF);
  height:100vh;
  width:100%;
  
}

/*Estilo del signup*/
.signup{
  background-image:url('../assets/images/login-desktop.jpg');
  background-position:center;
  background-size:100% 100%;
  height:100vh;
  width:100%;
}





@media screen and (min-width: 768px) {
  
  
}